// Variables

$color-primary: #1b355b;
$color-secondary: #ed6151;

$color-grey: #9d9d9d;
$color-blue-light: #d1e2f9;

$color-black: #000000;
$color-white: #ffffff;

$color-red: #ff0000;

//fonts
$font-size: 62.5%;
